.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  overflow: visible;
}

.reviews-slider {
  position: relative;
  width: 100%;
  margin-inline: -140px;

  &__controls {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__prev,
  &__next {
    cursor: pointer;

    &:hover,
    &:active {
      svg path {
        fill: #c48d53;
      }
    }
  }

  &__pagination {
    display: flex;
    max-width: fit-content;
    padding-inline: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #b8b8b8;
  }
}

.swiper {
  overflow-y: visible;
  position: relative;
}
