@use "/src/utils/styles/mixins.scss" as mixins;

.wrapper {
  position: relative;
}

.tab-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: center;

  @include mixins.onDesktop {
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }

  &__title {
    font-size: 22px;

    @include mixins.onDesktop {
      font-size: 28px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;

    @include mixins.onDesktop {
        align-items: flex-start;

    }
  }

  &__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mixins.onDesktop {
      margin-left: 76px;
    }
  }

  &__media {
    background-color: #2a2a2a;
    height: 215px;
    width: 100%;
    border-radius: 15px;

    @include mixins.onDesktop {
      height: 360px;
      width: 360px;
    }
  }

  &__title {
    line-height: 130%;

    &--accent {
      color: var(--main-gold-background);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mixins.onDesktop {
      padding-left: 30px;
    }
  }

  &__item {
    display: flex;
    align-items: start;
    gap: 12px;
  }

  &__link {
    @include mixins.only-gradient-border-button;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 66px;
    border-radius: 66px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @include mixins.onDesktop {
      margin-left: 30px;
    }

    transition: all 0.3s ease;

    &:hover {
      @include mixins.primary-button-gold;
      padding-inline: 66px;

      &::before {
        display: none;
      }
    }
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__header {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    white-space: nowrap;

    @include mixins.onDesktop {
      font-weight: 600;
      font-size: 22px;
      white-space: inherit;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #b8b8b8;

    @include mixins.onDesktop {
      font-size: 18px;
    }
  }
}
