@use "/src/utils/styles/mixins.scss" as mixins;

.footer {
  z-index: 5;
  margin-top: 65px;
  margin-inline: -20px;
  padding-inline: -20px;
  padding-top: 25px;
  padding-bottom: 16px;
  height: 111px;

  
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  background-color: #252525;

  @include mixins.onDesktop {
    flex-direction: row;
    margin-top: 100px;
    padding-inline: 140px;
    padding-block: 0;
    margin-inline: -140px;
    height: 90px;
  }


  &__copyright {
    font-size: 14px;
    line-height: 22px;
    color: #b8b8b8;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #b8b8b8;

    text-decoration: underline;
  }

  &__right {
    display: flex;
    gap: 15px;
  }

  &__icons {
    display: flex;
    gap: 10px;

    &--link {
      display: flex;
      align-items: center;
    }
  }
}
