:root {
  --main-black-color: #181818;
  --main-button-font-color: #171717;
  --main-dark-gray-background: #1e1e1e;
  --main-gray-color: #b8b8b8;
  --main-font-color: #fff;
  --main-gold-background: #c48d53;
  --main-gray-border: #363535;

  --main-gradient-start: #c99056;
  --main-gradient-mid: #af7f45;
  --main-gradient-end: #6d451c;

  --button-gradient-border: linear-gradient(
    to right,
    var(--main-gradient-start),
    var(--main-gradient-mid),
    var(--main-gradient-end)
  );

  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.inter {
  font-family: Inter, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

a,
button {
  all: unset;
  cursor: pointer;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 56px;
  line-height: 120%;
}

h2 {
  font-size: 48px;
  line-height: 100%;
}

h3 {
  font-size: 28px;
  line-height: 130%;
}
