:root {
  --main-black-color: #181818;
  --main-button-font-color: #171717;
  --main-gray-color: #b8b8b8;
  --main-font-color: #fff;

  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter {
  font-family: Inter, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

a,
button {
  all: unset;
  cursor: pointer;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 56px;
  line-height: 120%;
}

h2 {
  font-size: 48px;
  line-height: 100%;
}

h3 {
  font-size: 28px;
  line-height: 130%;
}
